# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: UsePythonVersion@0
  displayName: 'Use Python 3.8'
  inputs:
    versionSpec: 3.8

- script: |
    pip install databricks-cli
  displayName: 'load python dependencies'

- script: |
    echo "y
    $(DATABRICKS_ADDRESS)
    $(DATABRICKS_API_TOKEN)" | databricks configure --token
  displayName: 'Configure Databricks cli'

- script: |
    mkdir /home/vsts/work/1/s/DBtest
    echo "import pandas" >> /home/vsts/work/1/s/DBtest/dbtest.py
  displayName: 'create python file'

- script: |
    databricks workspace import_dir -o /home/vsts/work/1/s/DBtest /
  displayName: 'import file'

